<html>
  <head>
    <title>Email Verification</title>
    <style>
      .container { font-family: Arial, sans-serif; margin: 20px; } .header {
      background-color: #f8f8f8; padding: 10px; text-align: center; font-size:
      24px; font-weight: bold; } .content { margin: 20px; } .code { font-size:
      20px; font-weight: bold; color: #333; }
    </style>
  </head>
  <body>
    <div class='container'>
      <div class='header'>Email Verification</div>
      <div class='content'>
        <p>Dear User,</p>
        <p>You requested a password reset. Your code is:
          <span class='code'></span>
          {{resetCode}}</p>
        <p>Best regards,<br />Your Company</p>
      </div>
    </div>
  </body>
</html>